stages:
  - build 
  - test
  - deploy

build-job:
  stage: build
  script:
    - echo "Building the application"

test-job:
  stage: test
  script:
    - echo "This job runs test"

deploy-job:
  stage: deploy
  script:
    - echo "This job runs deploy"